body {
  background: linear-gradient(brown,orange);
  background-position: right bottom;
  margin-right: 100px;
  width: 600px;
}

img {
    border: 1px solid orange;
    border-radius: 15px;
    padding: 15px;
    align-items: baseline;
    text-align: center;
}

h2{
    font-style: normal;
  font-size: 20px;
  align-items: center;

}

h3 {
  font-style: italic;
  font-size: 14px;
  align-items: center;
}
a:link{
  color: orange;
  }
  a:visited {
    color: yellow;
  }

  
